<!DOCTYPE html>
<html lang="en">
<body>
<ion-view view-title="Room (Host View)">
  <ion-nav-buttons side="left">
    <button class="button" ng-click="closeRoom()">
      Close Room
    </button>
  </ion-nav-buttons>

  <ion-nav-buttons side="right">
    <button class="button" ng-click="changeOptions()">
      Options
    </button>
  </ion-nav-buttons>

  <ion-nav-buttons side="secondary">
    <button class="button" ng-click="viewUsers()">
      {{numUsers}} User(s)
    </button>
  </ion-nav-buttons>

  <ion-side-menus>
    <!-- Center content -->
    <ion-pane ion-side-menu-content>

      <ion-content class="padding" overflow-scroll="false">

        <div style="width: 7%; height:95%; float:right" align="left">
          <img src="img/musicDir.png" style="width : 150% ; height : 52%" ng-click="toggleMenu()">
          <!--<img src="img/musicDir.png" alt="" ng-click="toggleMenu()">-->
        </div>
        <ion-scroll overflow-scroll="false" zooming="true" direction="y" style="width: 90%; height: 90%">
          <div style="width: 93%; height:90%; float:left;">
            <br><br>


            <img src="img/play-icon.png" style="width : 20% ; height : 20%" ng-click="play()">
            <img src="img/pause-icon.png" style="width : 20% ; height : 20%" ng-click="pause()">
            <img src="img/next-icon.png" style="width : 20% ; height : 20%" ng-click="next()">

            <h1>Debug: {{debug}}</h1>

            <br><br>
            <div ng-if="currentSong"><h3>Now Playing: {{currentSong.name}}</h3></div>

            <div><h1>----Playlist----</h1>
              <!--<div ng-repeat="thisSong in musicQueue">-->
                <div ng-repeat="thisSong in songQueue">
                <ion-item>
                  <div class="item-row">
                    <span align="left"><h3>{{thisSong.name}}</h3></span>
                    <span align="right">
                      <img src="img/up-icon.png" style="width : 10% ; height : 10%" ng-click="songUp(thisSong)">
                      <img src="img/down-icon.png" style="width : 10% ; height : 10%" ng-click="songDown(thisSong)">
                      <img src="img/delete-icon.png" style="width : 10% ; height : 10%" ng-click="removeSong(thisSong)">
                    </span>
                  </div>
                </ion-item>
              </div>
            </div>


          </div>
        </ion-scroll>


      </ion-content>


    </ion-pane>

    <!-- Right menu -->
    <ion-side-menu side="right">
      <div style="height:10%"></div>
      <div style="height:90%">
        <ion-scroll overflow-scroll="false" zooming="false" direction="y" style="width: 100%; height: 100%">
          <br><br>
          <div>
            <h1>Music Library</h1>
          </div>
          <br>
          <div class="list">
            <ion-item class="item-text-wrap" ng-repeat="requestSong in onlineLibrary"
                      ng-click="addSongtoQueue(requestSong)">
              {{requestSong.name}}
            </ion-item>
          </div>
        </ion-scroll>
      </div>
    </ion-side-menu>
  </ion-side-menus>

</ion-view>

</body>
</html>
