<!DOCTYPE html>
<html lang="en">
<body>

  <ion-view view-title="Room (Guest View)">
    <ion-nav-buttons side="primary">
      <button class="button" ng-click="leaveRoom()">
        Leave Room
      </button>
    </ion-nav-buttons>

    <ion-content class="padding">

      <h1>{{roomInfo.roomName}}</h1>
      [DEBUG]Raw room info:<br>
      {{roomInfo}} <br>

      <input type="text" ng-model="$parent.userMessage" placeholder="Type a message here!">
      <button ng-click="submitMessage()">Submit</button>
      <div>Room Messages</div>
      <ion-list>
        <ion-item ng-repeat="message in messages">
          {{message.user}} - {{message.message}}
        </ion-item>

      </ion-list>


    </ion-content>
  </ion-view>
</body>
</html>
