<!DOCTYPE html>
<html lang="en">
<body>
  <ion-view view-title="Room (Host View)">
    <ion-nav-buttons side="left">
      <button class="button" ng-click="closeRoom()">
        Close Room
      </button>
    </ion-nav-buttons>

    <ion-nav-buttons side="right">
      <button class="button" ng-click="changeOptions()">
        Options
      </button>
    </ion-nav-buttons>

    <ion-nav-buttons side="secondary">
      <button class="button" ng-click="viewUsers()">
        {{numUsers}} User(s)
      </button>
    </ion-nav-buttons>
    <ion-side-menus>
      <!-- Center content -->
      <ion-pane ion-side-menu-content>


        <ion-content class="padding" overflow-scroll="false">

          <div style="width: 7%; height:95%; float:right" align="left">
            <img src="img/musicDir.png" style="width : 150% ; height : 52%" ng-click="toggleMenu()">
          </div>
          <ion-scroll overflow-scroll="false" zooming="true" direction="y" style="width: 90%; height: 90%">
            <div style="width: 93%; height:90%; float:left;">
               <!--<h1>{{hostName}}, you're hosting this room: {{roomName}}!</h1>-->
                <br><br>

                <button class="button" ng-click="play()">Play</button>
                <button class="button" ng-click="pause()">Pause</button>
                <button class="button" ng-click="next()">Next</button>

                <!--<br><br>-->
                <h1>Debug: {{debug}}</h1>

                <br><br>
                <div ng-if="songPlaying">Now Playing: {{currentSong}}</div>
                <div ng-if="songPlaying">timeRemaining: {{timeRemaining}}</div>
                <!--<button class="button" ng-click="addSongX()">Add Song X</button>
                <button class="button" ng-click="addSongY()">Add Song Y</button>-->

                <div><h1>----Playlist----</h1>
                  <ul>
                    <li ng-repeat="thisSong in musicQueue">{{thisSong.name}},{{thisSong.song.duration}}</li>
                  </ul>
                </div>

            </div>
          </ion-scroll>



        </ion-content>


      </ion-pane>

      <!-- Right menu -->
      <ion-side-menu side="right">
        <div style="height:10%"></div>
        <div style="height:90%">
          <ion-scroll overflow-scroll="false" zooming="false" direction="y" style="width: 100%; height: 100%">
            <br><br>
            <div>
              <h1>Music Library</h1>
            </div>
            <br>
            <div class="list">
              <!--<div ng-repeat="file in files">-->
              <!--<a class="item item-icon-left" ng-click="getDirectoryContents(file,file.nativeURL)"> &lt;!&ndash;href="#"&ndash;&gt;-->
              <!--<i ng-show="file.isDirectory" class="icon ion-folder"></i>-->
              <!--<i ng-show="file.isFile" class="icon ion-document"></i>-->
              <!--{{file.name}}-->
              <!--</a>-->
              <!--</div>-->
              <ion-item class="item-text-wrap" ng-repeat="requestSong in musicLibrary" ng-click="addSongtoQueue(requestSong)">
                {{requestSong.name}}
              </ion-item>

              <!--<ul>-->
              <!--<li ng-repeat="song in musicLibrary">{{song.name}}</li>-->
              <!--</ul>-->
            </div>
          </ion-scroll>
        </div>
      </ion-side-menu>
    </ion-side-menus>

  </ion-view>

</body>
</html>
