<!DOCTYPE html>
<html lang="en">

<body>

  <ion-view view-title="Creating Room">

    <ion-nav-buttons side="primary">
      <button class="button" ng-click="cancelAndGoBackToRouting()">
       Cancel
      </button>
    </ion-nav-buttons>

    <ion-content class="padding">

      <h1>This is where you set the room name and password</h1>
      <div style="float: left; width: 90%;">
        <button class="button button-full" ng-click="createRoom()">Create Room</button>
      </div>

    </ion-content>
  </ion-view>
</body>

</html>
