<!DOCTYPE html>
<html lang="en">
<body>
<ion-view view-title="Room (Host View)">
  <ion-nav-buttons side="left">
    <button class="button" ng-click="closeRoom()">
      Close Room
    </button>
  </ion-nav-buttons>

  <ion-nav-buttons side="right">
    <button class="button" ng-click="changeOptions()">
      Options
    </button>
  </ion-nav-buttons>

  <ion-nav-buttons side="secondary">
    <button class="button" ng-click="viewUsers()">
      {{numUsers}} User(s)
    </button>
  </ion-nav-buttons>

  <ion-side-menus>
    <!-- Center content -->
    <ion-pane ion-side-menu-content>

      <ion-content scroll="false">
        <div class="row" style="height:93vh; width:100vw;background-color: lightpink;">
          <div class="col-90" style="background-color: lightblue">
            <div name="SongPlaying" style="background-color: lightgreen; height:25%">
              <div name="NowPlaying"
                   style="display:table;background-color: deepskyblue; height:30%; width:100%;text-align:center">
                <span style="display:table-cell; vertical-align: middle">
                  <h2>Now Playing</h2>
                </span>
              </div>
              <div name="SongInfo" style="display:table;background-color: cadetblue; height:30%;width:100%;text-align:center;
              white-space: nowrap;overflow: hidden;text-overflow: ellipsis">
                <span style="display:table-cell; vertical-align: middle">
                  <h4 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis">{{currentSong.name}}</h4>
                </span>
              </div>
              <div name="SongControls" style="background-color: dodgerblue; height:40%">
                <div class="row" style="height:100%" align="center">
                  <div class="col-20 col-offset-20" name="PlayButton" style="background-color: red; height:100%; width:10%">
                    <div ng-show="!playing" style="height:100%; width:100%">
                      <button class="button button-icon icon ion-play" ng-click="togglePlay()"
                              style="height:100%; width:100%"></button>
                    </div>
                    <div ng-show="playing" style="height:100%; width:100%">
                      <button class="button button-icon icon ion-pause" ng-click="togglePlay()"
                              style="height:100%; width:100%"></button>
                    </div>
                  </div>
                  <div class="col-20 col-offset-20" name="NextButton" style="background-color: orangered; height:100%; width:10%">
                    <div style="height:100%; width:100%">
                      <button class="button button-icon icon ion-arrow-right-a" ng-click="next()"
                              style="height:100%; width:100%"></button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div name="SongQueue" style="background-color: yellow; height:75%">
              <ion-scroll overflow-scroll="false" zooming="false" direction="y" style="width: 100%; height: 100%">
              <div>
                <div><h1 style="text-align: center;">----Playlist----</h1>

                    <div ng-repeat="thisSong in songQueue">
                      <ion-item>
                        <div class="item-row">
                          <span align="left"><h3>{{thisSong.name}}</h3></span>
                          <span align="right">
                        <img src="img/up-icon.png" style="width : 10% ; height : 10%" ng-click="songUp(thisSong)">
                        <img src="img/down-icon.png" style="width : 10% ; height : 10%" ng-click="songDown(thisSong)">
                        <img src="img/delete-icon.png" style="width : 10% ; height : 10%" ng-click="removeSong(thisSong)">
                      </span>
                        </div>
                      </ion-item>
                    </div>

                </div>
              </div>
            </div>
            </ion-scroll>
          </div>
          <div name="MusicLib" class="col-10" >
            <img src="img/musicDir.png" style="width : 100% ; height : 100%" ng-click="toggleMenu()">
          </div>
        </div>

        <!--<div style="width: 7%; height:95%; float:right" align="left">-->
          <!--<img src="img/musicDir.png" style="width : 150% ; height : 52%" ng-click="toggleMenu()">-->
          <!--&lt;!&ndash;<img src="img/musicDir.png" alt="" ng-click="toggleMenu()">&ndash;&gt;-->
        <!--</div>-->
        <!--<ion-scroll overflow-scroll="false" zooming="true" direction="y" style="width: 90%; height: 90%">-->
          <!--<div style="width: 93%; height:90%; float:left;">-->
            <!--<br><br>-->

            <!--<img src="img/play-icon.png" style="width : 20% ; height : 20%" ng-click="play()">-->
            <!--<img src="img/pause-icon.png" style="width : 20% ; height : 20%" ng-click="pause()">-->
            <!--<img src="img/next-icon.png" style="width : 20% ; height : 20%" ng-click="next()">-->

            <!--&lt;!&ndash;<h1>Debug: {{debug}}</h1>&ndash;&gt;-->

            <!--<br><br>-->
            <!--<div ><h3>Now Playing</h3></div>-->
            <!--<div ng-if="currentSong">{{currentSong.name}}</h3></div>-->


            <!--<div><h1>&#45;&#45;&#45;&#45;Playlist&#45;&#45;&#45;&#45;</h1>-->
                <!--<div ng-repeat="thisSong in songQueue">-->
                <!--<ion-item>-->
                  <!--<div class="item-row">-->
                    <!--<span align="left"><h3>{{thisSong.name}}</h3></span>-->
                    <!--<span align="right">-->
                      <!--<img src="img/up-icon.png" style="width : 10% ; height : 10%" ng-click="songUp(thisSong)">-->
                      <!--<img src="img/down-icon.png" style="width : 10% ; height : 10%" ng-click="songDown(thisSong)">-->
                      <!--<img src="img/delete-icon.png" style="width : 10% ; height : 10%" ng-click="removeSong(thisSong)">-->
                    <!--</span>-->
                  <!--</div>-->
                <!--</ion-item>-->
              <!--</div>-->
            <!--</div>-->
          </div>
        </ion-scroll>
      </ion-content>


    </ion-pane>

    <!-- Right menu -->
    <ion-side-menu side="right">
      <div style="height:10%"></div>
      <div style="height:90%">
        <ion-scroll overflow-scroll="false" zooming="false" direction="y" style="width: 100%; height: 100%">
          <br><br>
          <div>
            <h1 style="text-align: center;">Music Library</h1>
          </div>
          <br>
          <div class="list">
            <ion-item class="item-text-wrap" ng-repeat="requestSong in onlineLibrary"
                      ng-click="addSongtoQueue(requestSong)">
              {{requestSong.name}}
            </ion-item>
          </div>
        </ion-scroll>
      </div>
    </ion-side-menu>
  </ion-side-menus>

</ion-view>

</body>
</html>
