<!DOCTYPE html>
<html lang="en">
<body>

  <ion-view view-title="Room Options">
    <ion-nav-buttons side="primary">
      <button class="button" ng-click="cancelChanges()">
        Cancel
      </button>
    </ion-nav-buttons>

    <ion-content class="padding">

      <h1>Change the room options here</h1>

      <div style="float: left; width: 90%;">
        <button class="button button-full" ng-click="applyChanges()">Apply Changes</button>
      </div>

    </ion-content>
  </ion-view>
</body>
</html>
