<!DOCTYPE html>
<html lang="en">

<body>

<ion-view view-title="Routing">
  <ion-nav-buttons side="primary">
    <button class="button" ng-click="exitToWelcomePage()">
      Exit
    </button>
  </ion-nav-buttons>
  <ion-content class="padding">

    </br> </br> </br> </br> </br> </br> </br> </br> </br> </br> </br> </br>

    <div align = "center">
      <h1>Routing Screen</h1>
    </div>

    </br> </br>

    <div align = "center">
      <div style="float: none; width: 35%;">
        <button class="button button-positive button-large" ng-click="joinRoom()">Join a premade room!</button>
      </div>
    </div>

    </br> </br>

    <div align = "center">
      <div style="float: none; width: 35%;">
        <button class="button button-positive button-large" ng-click="createRoom()">Create your own room!</button>
      </div>
    </div>


  </ion-content>
</ion-view>
</body>

</html>
