<!DOCTYPE html>
<html lang="en">

<body>

<ion-view view-title="Routing">
  <ion-nav-buttons side="primary">
    <button class="button" ng-click="exitToWelcomePage()">
      Exit
    </button>
  </ion-nav-buttons>
  <ion-content class="padding">

    <div align = "center">
      <h1>Available Rooms</h1>
    </div>

    <div align="center" ng-show="loadingRooms">Loading Rooms...</div>
    <ion-list>
      <ion-item ng-repeat="room in availableRooms" ng-click="joinRoom(room)">
        Room: {{room.roomData.roomName}} Messages: ({{room.roomData.numMessages}})
      </ion-item>
    </ion-list>

    <br>

    <div align = "center">
        <button ion-button block style="width:90%" class="button button-positive button-large" ng-click="createRoom()">Create your own room!</button>
    </div>


  </ion-content>
</ion-view>
</body>

</html>
