<!DOCTYPE html>
<html lang="en">

<body>

<ion-view>
  <ion-nav-title>Welcome, {{displayName}}!</ion-nav-title>
  <ion-nav-buttons side="primary">
    <button class="button" ng-click="exitToWelcomePage()">
      Exit
    </button>
  </ion-nav-buttons>
  <ion-content class="padding">

    <div align = "center">
      <h1>Available Rooms</h1>
    </div>
    <div align="center" ng-show="numRooms == 0"><br>No rooms found. Create your own!</div>

    <div align="center" ng-show="loadingRooms">Loading Rooms...</div>
    <ion-list>
      <ion-item ng-repeat="room in availableRooms" ng-click="joinRoom(room)">
        Room: {{room.roomData.roomName}} Users: ({{room.roomData.numUsers}})
      </ion-item>
    </ion-list>
  </ion-content>

  <ion-footer-bar>
    <div class="bar bar-footer bar-positive footer-buttons">
      <button ion-button block style="width:100%; font-size:150%" class="button button-positive" ng-click="createRoom()">Create your own room!</button>
    </div>
  </ion-footer-bar>

</ion-view>
</body>

</html>
