<!DOCTYPE html>
<html>
<body>

  <ion-view view-title="Page 1" hide-nav-bar="true">
    <ion-content class="padding">

      <div class="row row-center">
        <div class="col col-center">
          <h1>Welcome to jamFly!</h1>
        </div>
      </div>
      <div class="row row-center">
        <div class="col col-center">
          <img src="img/jamFlyLogo.png" style="width:80%">
        </div>
      </div>
      <div class="row row-center">
        <div class="col col-center">
          <input class="text-center" style="width:100%" type="text" ng-model="$parent.nameBox" ng-submit="goToNext()" placeholder="enter your name">
        </div>
      </div>
      <div class="row">
        <div class="col">
          <button ion-button block style="width:90%" class="button button-positive button-large" ng-click="goToNext()">Enter App</button>
        </div>
      </div>

    </ion-content>
  </ion-view>

</body>

</html>
