<!DOCTYPE html>
<html>
<body>

  <ion-view view-title="Page 1" hide-nav-bar="true">
    <ion-content class="padding">
      </br> </br> </br> </br> </br> </br> </br> </br> </br> </br> </br>

      <div align = "center">
        <h1>Welcome to jamFly!</h1>
      </div>

      </br> </br>

      <div align="center">
        <div style="float: none; width: 25%;">
          <label class="item item-input">
            <input type="text" name="name" id="name-textarea"
                 ng-model="$parent.name" placeholder="Enter Name">
          </label>
        </div>
      </div>

      <div align="center">
        <div style="float: none; width: 25%;">
          <label class="item item-input">
            <input type="text" name="password" id="password-textarea"
                   ng-model="$parent.password" placeholder="Enter Password">
          </label>
        </div>
      </div>

      </br> </br>
      <div align = "center">
        <button style="float: none; width:25%" class="button button-positive button-large" ng-click="validateExistingName()">Login
        </button>
      </div>

      </br> </br>
      <div align = "center">
        <button style="float: none; width:25%" class="button button-positive button-large" ng-click="validateNewName()">Create New Account
        </button>
      </div>

    </ion-content>
  </ion-view>

</body>

</html>
