/* Empty. Add your own CSS if you like */

.vertical-align-content > *
{
  display: flex!important;
  align-content: center!important;
  align-items: center!important;
}


.scroll-content {
  display: table !important;
  width: 100% !important;
  height: 100% !important;
}
.scroll {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

